body {
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

@media (min-width: 400px) {
    body {
        padding: 0 15rem;
    }
}

img {
    max-width: 100%;
    height: auto;
}
